<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BookingServiceSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44306/BookingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BookingServiceSoap"
                contract="BookingServiceReference.BookingServiceSoap" name="BookingServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
